/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

* {
  font-size: 2rem;
}

#testoAlternato {
  margin-top: 10rem;
  margin-left: 5rem;
}

#parola1 {
  position: relative;
  animation: animazioneParole 2s 2s forwards;
}

#parola2,
#parola3 {
  position: absolute;
  left: 256px;
  display: none;
}

@keyframes animazioneParole {
  from {
    color: white;
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0);
    color: rgb(39, 68, 68);
  }
  to {
    transform: translateY(-25px);
    color: white;
  }
}
