/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

* {
  font-size: 2rem;
  font-family: "Bree Serif";
  box-sizing: border-box;
}

#testoAlternato {
  margin-top: 10rem;
  margin-left: 5rem;
  padding: 1em 4em 1em 1em;
  border: 3px solid gray;
  width: fit-content;
}
p {
  color: rgb(71, 69, 69);
  text-shadow: 1px 1px 0px #7b7a7a;
}

.parole {
  position: relative;
  padding-left: 10px;
}

#parola1,
#parola2,
#parola3 {
  width: max-content;
  position: absolute;
  color: transparent;
  text-shadow: none;
}

#parola1 {
  animation: animation1 2.5s both;
}

#parola2 {
  animation: animation2 2.5s 3s both;
}

#parola3 {
  animation: animation3 2.5s 6s both;
}

@keyframes animation1 {
  from {
    color: transparent;
    transform: translateY(55px);
  }
  50% {
    transform: translateY(0);
    color: rgb(142, 176, 187);
    text-shadow: 1px 1px 0px #7b7a7a;
  }
  to {
    transform: translateY(-55px);
    color: transparent;
    text-shadow: none;
  }
}

@keyframes animation2 {
  from {
    color: transparent;
    transform: translateY(55px);
  }
  50% {
    transform: translateY(0);
    color: rgb(142, 176, 187);
    text-shadow: 1px 1px 0px #7b7a7a;
  }
  to {
    color: transparent;
    transform: translateY(-55px);
    text-shadow: none;
  }
}

@keyframes animation3 {
  from {
    color: transparent;
    transform: translateY(55px);
  }
  50% {
    transform: translateY(0);
    color: rgb(142, 176, 187);
    text-shadow: 1px 1px 0px #7b7a7a;
  }
  to {
    color: transparent;
    transform: translateY(-55px);
    text-shadow: none;
  }
}
